@charset "UTF-8";
/*RECETEO*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,200;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.icono {
  border: none;
  height: 48px;
  width: 48px;
}

header {
  height: 55px;
}
header nav {
  width: 100%;
  margin: o auto;
}

.blue {
  background-color: rgb(71, 89, 246);
}

footer {
  background-color: rgb(71, 89, 246);
}
footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.primerParrafo {
  text-transform: uppercase;
}

.formulario {
  background-color: white;
  font-family: "Kanit", sans-serif;
  padding: 15px;
}

.container {
  max-width: 1127px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.logo {
  text-align: center;
  font-size: 45px;
}

.logo span {
  color: rgb(71, 89, 246);
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(30, 22, 188, 0.374);
}

.contact-wrapper > * {
  padding: 15px;
}

.contact-form {
  background-color: rgba(0, 17, 255, 0.612);
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form p {
  margin: 0;
  padding: 10px;
}

.contact-form button,
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: none;
  outline: 0;
}

.contact-form form button {
  text-align: center;
  color: white;
  background-color: black;
  border: 0;
  text-transform: uppercase;
  padding: 15px;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background-color: white;
  color: black;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  color: white;
  background-color: black;
}

.contact-info h3,
.contact-info ul {
  text-align: center;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

@media (min-width: 700px) {
  body {
    padding: 0 4em;
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
h1, h2 {
  font-family: "Kanit", sans-serif;
  text-align: center;
  line-height: 30px;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: black;
  padding: 20px;
}

p {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 10px;
  word-spacing: 10px;
  color: black;
}

.subTitulo {
  background-color: black;
  color: aquamarine;
}

.letraPequeña {
  font-family: "Kanit", sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 5px;
  word-spacing: 10px;
  color: black;
}

img {
  width: 100%;
  height: 750px;
  margin-top: 10px;
  border: 10px solid rgba(0, 0, 0, 0.456);
}

.padre {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
}

.hijo {
  padding: 15px;
}/*# sourceMappingURL=sass.css.map */